# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage
*.test.ts
/test

# output
/task

# misc
**/*.log
.DS_Store
.env*
*.env
.idea/
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
